.activity-container{
    display:flex;
    justify-content:center;
    background: url('../../images/fondo\ PI.jpg');  
   /*  padding:20%;
    background-size: 190% */
}

.act{
    display:flex;
    justify-content:center;
    padding: 7px 0px 3px 3px;
    font-size: 18px;
}

.title{
    display:flex;
    justify-content:center;
    padding: 7px 0px 0px 3px;
    font-size: 25px;
    font-weight: 600;
    color: rgba(116, 178, 196, 0.664);
    text-shadow: -1px 0 rgb(37, 36, 36), 0 1px black, 1px 0 black, 0 -1px black;
}

select, input{
    width: 100%;
}

.button-switch-box{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.btn-activity{
    padding-top: 3px;
    padding-bottom: 2px;
    
        border: 1px solid #a9bbd8; 
        padding: 6.2px; 
        background-color: #768eb4; 
        color: #f8f4ff;
        text-decoration: none;  
        font-family: 'Quicksand', sans-serif; 
        border-radius: 50px; 
       
   
}
.btn-activity:hover{
background-color:rgba(214, 18, 58, 0.808);
}

.btn-submit{
padding-bottom: 10px 10px;
font-weight: 500;
}


.content-select{
	display: inline-block;
	width: 100%;
	cursor:pointer;
  	padding: 7px 10px px;
  	height: 36px;
  	outline: 0; 
  	border: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select-multi{
    display: inline-block;
	width: 100%;
	cursor:pointer;
  	padding: 7px 10px px;
  	height: 60px;
  	outline: 0; 
  	border: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 14px;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    position: relative;
    transition: all 0.25s ease;
}

@media (max-width: 1300px){
    .Home .filter-container .select {
        width: 100%;
    }
}

@media (max-width: 500px){
    .Home .filter-container .select {
        width: 100%;
    }
}