.pagination{
  display: flex;
  flex-direction: row;

  justify-content:center;
  background-position: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.button {
  
  border: solid black 0.5px;
  cursor:pointer;
  color: white;
  padding: 4px 6px;
  text-align: center;
  background-color: #14489b; 
  font-size: 16px;
  transition: 8ms;

}

.display{
  padding: 25px 5px 5px 5px;

}