.pagination{
  display: flex;
  flex-direction: row;

  justify-content:center
}

.button {
  
  border: solid black 0.5px;
  cursor:pointer;
  color: white;
  padding: 4px 6px;
  text-align: center;
  background-color: #14489b; 
  font-size: 16px;
  transition: 8ms;

}

/* .button:hover{
    background-color: rgba(79, 77, 82, 0.493);
    transition: 10ms;
    font-size: 18px;
} */

.display{
  padding: 25px 5px 5px 5px;

}