.container-cards{

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    padding: 0px 10px 0px 20px;
    justify-content: center;
    
}


