.flex-container{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content:space-between;
    padding: 15px 15px 15px 25px;
    background-color: rgba(59, 117, 172, 0.733);
    /* text-decoration:; */
    font-size: 22px;
    height: 60px;
}

#country{
    flex-direction:row;
    font-size: 46px;
    font-weight: 600;
    color: rgba(116, 178, 196, 0.664);
    text-shadow: -1px 0 rgb(37, 36, 36), 0 1px black, 1px 0 black, 0 -1px black;
    margin-top:2px;
    font-family: 'Quicksand', sans-serif;
    
}

#search{
    flex-direction:row;
    margin-bottom: 15px;
    margin-right: 15px;
}

#button-nav{
    display:flex;
    justify-content: center;    
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #14489b; 
    color: rgb(206, 201, 201);
    text-decoration: none;  
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
    margin-right: 110px;
    
}
#button-nav:hover{
    border: solid black 1.3px;
    background-color: rgba(80, 79, 74, 0.877)

  }

  #style-padding{
      padding-top: 20px;
  }